* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    scroll-behavior: smooth;
}

body {
    overflow:hidden;
}

#background {
    background-image: url('../img/background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

h2 {
    text-align: center;
    color: #000000;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;

}

h1 {
    text-align: center;
    margin: 65px;
    color: #000000;
    height: 100%;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

#dialog {
    display: flex;
    justify-content: center;
    align-content: center; 
    float: over;
}

#container {
    display: flex;
    justify-content: center;
    align-content: center; 
    width: 33%;
}

.grid-container {
    display: grid;
    background-color: rgba(10, 0, 155, 0.603);
    border: 10px solid #602f75;
    grid-template-columns: auto auto auto;
    background-repeat: no-repeat;
    background-image: url('../img/grid-2.png');
    background-size: 100%;
    box-sizing: border-box;
    box-shadow:inset 0px 0px 0px 10px #602f75;
}

.grid-item {
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    color: brown;
    cursor: pointer;
    justify-content: center;
    font-size: 30px;
    height: 181px;
    width: 181px;
}

img {
    height: 85%;
    width: 85%;
    align-self: center;
}

img::-moz-selection {
    background-color: transparent;
    color: #000;
}

img::selection {
    background-color: transparent;
    color: #000;
}

.swal-overlay {
    background-color: rgba(54, 1, 47, 0.685);
  }

.swal-modal {
background-color: rgb(6, 101, 156);
border: 3px solid white;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center; 
}

#left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

button {
    border: 1px solid rgb(0, 0, 0);
    width: 55%;
    height: 20%;
    color: #000000;
    box-shadow: 0px 0px 2px 2px #00000069;
    font-size: 2em;
    margin: 20px 0px;
    background-color: #82279988;
    cursor: pointer;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

button:hover {
    background-color: #ffffff;
}

#right {
    display: flex;
    justify-content: center;
    align-content: center; 
    text-align: center;
    flex-direction: column;
    width: 33%;
}

@media only screen and (max-width: 1160px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center; 
        text-align: center;
    }

    #left {
        display: flex;
        justify-content: center;
        align-content: center; 
        text-align: center;
        width: 100%;
        order: 3;
    }

    #container {
        display: flex;
        justify-content: center;
        align-content: center; 
        text-align: center;
        width: 100%;
        order: 2;
    }

    #right {
        display: flex;
        justify-content: center;
        align-content: center; 
        text-align: center;
        width: 100%;
        order: 0;
        margin-bottom: 25px;
    }

    button {
        height: 100%;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-content: center; 
        text-align: center;
    }
}